<div class="user">
                <img src="<%= user.photo %>" alt="<%= user.name %>" class="userImg"/>  
                <div class="userDetails">      
                    <h2 class="userName"><%= user.name %></h2>
                    <p class="postCount">Number of posts: <%= user.postsCounter || 0 %></p>
                </div>
</div>