<div><%= render partial: "navBar" %></div>
<div class="usersContainer">

    <% @users.each do |user| %>
        <a href="/users/<%= user.id %>" class="userLink">
            <%= render partial: "user", locals: {user: user} %>  
        </a>
    <% end %>  

</div>

