* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

a {
  color: #333;
  text-decoration: none;
  width: 65%;
  padding: 17px;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline;
}

.actions input {
  width: 65%;
  padding: 17px;
  margin: 0 auto;
  border: 2px solid #333;
  font-size: 20px;
}

.usersContainer,
.postsContainer,
.commentsContainer,
.formContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.usersContainer {
  margin-top: 30px;
}

.commentsContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user,
.post,
.bio,
.comments {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
}

.userName {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.userImg {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.userDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #333;
  padding: 0 20px;
}

.bio {
  margin-top: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.allPostsLink {
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.allPostsLink button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.postCount,
.counters {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.counters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 10px;
}

.comments {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.buttons {
  padding: 10px 20px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.buttons a {
  text-decoration: none;
}

.buttonContainer form input {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.postsButton {
  background: #333;
  padding: 10px 20px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.postsButton a {
  text-decoration: none;
  color: floralwhite;
}

.formContainer,
.addComment {
  max-width: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
}

.formContainer h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.formContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.formContainer form input {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

.formContainer form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

.formContainer form button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.addComment h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.addComment form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.addComment form input {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

.addComment form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

.new_user {
  width: 80%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.field,
.actions {
  width: 80%;
  margin: 0 auto;
}

.field input[type="email"],
.field input[type="password"],
.field input[type="text"] {
  width: 100%;
  padding: 8px;
}

.additional_info {
  width: 80%;
  padding: 16px;
  margin: 0 auto;
}

.additional_info a {
  width: 65%;
  padding: 17px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}
